# Orbit Platform Configuration
BASE_URL=https://orbit-platform.wasmer.app
ORBIT_ADMIN_USER=admin
ORBIT_ADMIN_PASSWORD=admin123
ORBIT_MEMBER_USER=alex
ORBIT_MEMBER_PASSWORD=alex123
ORBIT_VIEWER_USER=sam
ORBIT_VIEWER_PASSWORD=sam123
